.art1{
    width: 50%;
    padding-left: 45%;
    margin-top: -25%;
    background-color: transparent;
}

.art2{
    width: 50%;
}

.art3{
    width: 50%;
}

.art4{
    width: 50%;
}

.art5{
    width: 50%;
}

/*art work here*/

.A1{
    width: 10px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 70%;
}


.B1{
    width: 30px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 69.5%;   
    margin-top: -1.5%; 
}

.C1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 68.8%;   
    margin-top: -0.2%;  
}

.D1{
    width: 280px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 52.5%;   
    margin-top: -0.2%;  
}


.E1{
    width: 330px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 49.2%;   
    margin-top: -0.2%; 
}

.F1{
    width: 440px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 45%;   
    margin-top: -0.2%; 
}

.G1{
    width: 420px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 45%;   
    margin-top: -0.2%;
}


.H1{
  
}

.I1{  
   
}