.art1{
    width: 50%;
    padding-left: 45%;
    margin-top: -25%;
    background-color: transparent;
}

.art2{
    width: 50%;
}

.art3{
    width: 50%;
}

.art4{
    width: 50%;
}

.art5{
    width: 50%;
}

/*art work here*/

.pixel{
    width: 98%;
    height: 98%;
    opacity: 0%;
    
}


/*HAIR CHUNKS*/
.A{
margin-top: -96%;
margin-right: 24%;
}

.A1{
    width: 10px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 70%;
}


.B1{
    width: 30px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 69.5%;   
    margin-top: -1.5%; 
}

.C1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 68.8%;   
    margin-top: -0.2%;  
}

.D1{
    width: 280px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 52.5%;   
    margin-top: -0.2%;  
}


.E1{
    width: 380px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 49.2%;   
    margin-top: -0.2%; 
}

.F1{
    width: 480px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 45%;   
    margin-top: -0.2%; 
}

.G1{
    width: 480px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 45%;   
    margin-top: -0.2%;
}


.H1{
    width: 40px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 78%;
    margin-top: -4%;
}

.I1{  
    width: 20px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 80%;
    margin-top: -4%;
}

.J1{  
    width: 10px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 80%;
    margin-top: -4.8%;
}

.K1{
    width: 460px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 43%;   
    margin-top: 6%;
}

.L1{
    width: 520px;
    height: 50px;
    background-color: rgb(43, 64, 226);
    margin-left: 40%;   
    margin-top: 0%;
}

.M1{
    width: 620px;
    height: 50px;
    background-color: rgb(43, 64, 226);
    margin-left: 36%;   
    margin-top: 31;
}

.N1{
    width: 650px;
    height: 60px;
    background-color: rgb(43, 64, 226);
    margin-left: 35%;   
    margin-top: -2%;
}

.U1{

    width: 670px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 34%;   
    margin-top: -25%; 
}

/*SIDEBURNS left*/

.V1{
    width: 90px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 35%;   
    margin-top: -1%; 
}
.W1{
    width: 70px;
    height: 120px;
    background-color: rgb(43, 64, 226);
    margin-left: 35%;   
    margin-top: -1%;  
}

.X1{
    width: 70px;
    height: 90px;
    background-color: rgb(43, 64, 226);
    margin-left: 36%;   
    margin-top: -1%;    
}

.Y1{
    width: 10px;
    height: 190px;
    background-color: rgb(43, 64, 226);
    margin-left: 36%;   
    margin-top: -1%;     
}
.Z1{
    width: 70px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 36%;   
    margin-top: -16%; 
}


/*SIDEBURNS right*/
.AA1{
    width: 90px;
    height: 50px;
    background-color: rgb(43, 64, 226);
    margin-left: 86%;   
    margin-top: -22%;  
}

.AB1{
    width: 70px;
    height: 120px;
    background-color: rgb(43, 64, 226);
    margin-left: 87.7%;   
    margin-top: -1%;  
}

.AC1{
    width: 70px;
    height: 90px;
    background-color: rgb(43, 64, 226);
    margin-left: 86%;   
    margin-top: -1%;  
}

.AD1{
    width: 10px;
    height: 170px;
    background-color: rgb(43, 64, 226);
    margin-left: 91.4%;   
    
}

.AE1{
    width: 70px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 86%;   
    margin-top: -16%;   
}

/*ear right*/
.AF1{
    width: 20px;
    height: 220px;
    background-color: rgb(43, 64, 226);
    margin-left: 86%;   
    margin-top: -6%;  
}

.AH1{
    width: 30px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 88%;   
    margin-top: -0.5%;  
}

.AK1{
    width: 20px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 90%;   
    margin-top: -3%;  
}

/*ear left*/
.AG1{
    width: 20px;
    height: 200px;
    background-color: rgb(43, 64, 226);
    margin-left: 40.4%;   
    margin-top: -15%;  
}

.AI1{
    width: 30px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 38%;   
    margin-top: -2%;  
}

.AJ1{
    width: 20px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 37%;   
    margin-top: -5%;  
}
/*eyebrows (left)*/
.O1{
    width: 110px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 50%;   
    margin-top: 19%;   
}

.P1{
    width: 160px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 46.2%;   
    margin-top: 0%;   
}

.Q1{
    width: 140px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 47.95%;   
    margin-top: 0%;   
}

/*eyebrow right*/

.R1{
    width: 110px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 68.5%;   
    margin-top: -2.5%;  
}

.S1{
    width: 160px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 67%;   
    margin-top: 0%;
}

.T1{
    width: 140px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 67%;   
    margin-top: 0%; 
}

/*eye left*/

.AL1{
    width: 60px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 52%;   
    margin-top: -17%;
}

.AM1{
    width: 50px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 50%;   
    margin-top: 0%;
}

.AN1{
    width: 40px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 56%;   
    margin-top: -1%;
}

.AO1{
    width: 70px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 48.2%;   
    margin-top: -1%;
}

.AP1{
    width: 20px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 46.5%;   
    margin-top: -0.2%;
}

.AV1{
    width: 40px;
    height: 50px;
    background-color: rgb(43, 64, 226);
    margin-left: 53%;   
    margin-top: -4%;
}

/*eye right*/
.AQ1{
    width: 60px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 71%;   
    margin-top: -3%;
}

.AR1{
    width: 50px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 74%;   
    margin-top: 0%;
}

.AS1{
    width: 40px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 69%;   
    margin-top: -2%;
}

.AT1{
    width: 70px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 74%;   
    margin-top: -0.5%;
}

.AU1{
    width: 20px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 80.2%;   
    margin-top: -0.2%;
}

.AW1{
    width: 40px;
    height: 50px;
    background-color: rgb(43, 64, 226);
    margin-left: 72%;   
    margin-top: -4%;  
}

/*NOSE*/
.AX1{
    width: 10px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 61%;   
    margin-top: 3%;    
}

.AY1{
    width: 10px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 67%;   
    margin-top: -3.5%;    
}


.AZ1{
   
        width: 20px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 60%;   
        margin-top: -1%;    
    }

    .BA1{
        width: 20px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 67%;   
        margin-top: -0.8%;  
    }

    .BB1{
        width: 10px;
        height: 50px;
        background-color: rgb(43, 64, 226);
        margin-left: 60%;   
        margin-top: -1%;  
    }

    .BC1{
        width: 10px;
        height: 50px;
        background-color: rgb(43, 64, 226);
        margin-left: 68%;   
        margin-top: -4.4%;  
    }

    .BD1{
        width: 30px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 68%;   
        margin-top: -0.8%;  
    }

    .BE1{
        width: 30px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 58.2%;   
        margin-top: -0.8%;  
    }

    .BF1{
        width: 10px;
        height: 30px;
        background-color: rgb(43, 64, 226);
        margin-left: 69.8%;   
        margin-top: -0.2%;  
    }

    .BG1{
        width: 10px;
        height: 30px;
        background-color: rgb(43, 64, 226);
        margin-left: 58.2%;   
        margin-top: -2.8%;  
    }

    .BH1{
        width: 40px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 58.2%;   
        margin-top: 0%;  
    }

    .BI1{
        width: 40px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 67.1%;   
        margin-top: -1%;  
    }

    .BJ1{
        width: 90px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 60.5%;   
        margin-top: 0%;  
    }

    .BK1{
        width: 50px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 62%;   
        margin-top: 0%;  
    }

    /*CHEEK*/

    .BL1{
        width: 10px;
        height: 40px;
        background-color: rgb(43, 64, 226);
        margin-left: 41%;   
        margin-top: -2%;  
    }

    .BM1{
        width: 10px;
        height: 40px;
        background-color: rgb(43, 64, 226);
        margin-left: 87%;   
        margin-top: -3.5%;  
    }

    .BN1{
        width: 10px;
        height: 60px;
        background-color: rgb(43, 64, 226);
        margin-left: 86%;   
        margin-top: 0%;  
    }

    .BO1{
        width: 10px;
        height: 60px;
        background-color: rgb(43, 64, 226);
        margin-left: 41.8%;   
        margin-top: -5.5%;  
    }

    .BP1{
        width: 10px;
        height: 30px;
        background-color: rgb(43, 64, 226);
        margin-left: 42.7%;   
        margin-top: 0%;  
    }

    .BQ1{
        width: 10px;
        height: 30px;
        background-color: rgb(43, 64, 226);
        margin-left: 85.1%;   
        margin-top: -2.6%;  
    }

  /*LIPS*/

.BR1{
        width: 20px;
        height: 20px;
        background-color: rgb(43, 64, 226);
        margin-left: 63.6%;   
        margin-top: -4%;  
    }

    .BS1{
        width: 60px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 62%;   
        margin-top: -2.5%;  
    }

    .BT1{
        width: 40px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 59%;   
        margin-top: -1.8%;  
    }

    .BU1{
        width: 40px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 67%;   
        margin-top: -0.8%;  
    }

    .BV1{
        width: 30px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 69%;   
        margin-top: -0.1%;  
    }

    .BW1{
        width: 30px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 57.5%;   
        margin-top: -1%;  
    }

    .BX1{
        width: 20px;
        height: 20px;
        background-color: rgb(43, 64, 226);
        margin-left: 56.5%;   
        margin-top: 0%;  
    }

    .BY1{
        width: 20px;
        height: 20px;
        background-color: rgb(43, 64, 226);
        margin-left: 71%;   
        margin-top: -1.7%;  
    }

    .BZ1{
        width: 30px;
        height: 20px;
        background-color: rgb(43, 64, 226);
        margin-left: 55%;   
        margin-top: -0.2%;  
    }

    .CA1{
        width: 30px;
        height: 20px;
        background-color: rgb(43, 64, 226);
        margin-left: 71%;   
        margin-top: -1.6%;  
    }

    .CB1{
        width: 110px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 59.5%;   
        margin-top: 0%;  
    }

    .CC1{
        width: 80px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 61%;   
        margin-top: 0%;  
    }

    /*DUN*/

    .DUN{
        margin-left: -146%;   
        margin-top: -66%;  
        background-color: transparent;
    }

    /*D*/
    .CD1{
        width: 60px;
        height: 280px;
        background-color: rgb(230, 160, 8);
        margin-left: 61%;   
        margin-top: 0%;  
    }

    .CE1{
        width: 60px;
        height: 40px;
        background-color: rgb(230, 160, 8);
        margin-left: 63%;   
        margin-top: -10.17%;  
    }

    .CF1{
        width: 60px;
        height: 40px;
        background-color: rgb(230, 160, 8);
        margin-left: 63%;   
        margin-top: 7.25%;  
    }

    .CG1{
        width: 60px;
        height: 120px;
        background-color: rgb(230, 160, 8);
        margin-left: 66%;   
        margin-top: -7%;  
    }

    .CH1{
        width: 60px;
        height: 80px;
        background-color: rgb(230, 160, 8);
        margin-left: 65%;   
        margin-top: -7%;  
    }

    .CI1{
        width: 60px;
        height: 80px;
        background-color: rgb(230, 160, 8);
        margin-left: 65%;   
        margin-top: 3%;  
    }

    /*U*/
    .CJ1{
        width: 60px;
        height: 180px;
        background-color: rgb(230, 160, 8);
        margin-left: 61%;   
        margin-top: 4%;  
    }

    .CK1{
        width: 60px;
        height: 180px;
        background-color: rgb(230, 160, 8);
        margin-left: 65.5%;   
        margin-top: -6.5%;  
    }

    .CL1{
        width: 100px;
        height: 40px;
        background-color: rgb(230, 160, 8);
        margin-left: 62.5%;   
        margin-top: 0.5%;  
    }

    .CM1{
        width: 40px;
        height: 40px;
        background-color: rgb(230, 160, 8);
        margin-left: 62%;   
        margin-top: -2%;  
    }

    .CN1{
        width: 40px;
        height: 40px;
        background-color: rgb(230, 160, 8);
        margin-left: 65%;   
        margin-top: -1.5%;  
    }

    /*N*/
    .CO1{
        width: 60px;
        height: 200px;
        background-color: rgb(230, 160, 8);
        margin-left: 61%;   
        margin-top: 2%;  
    }

    .CP1{
        width: 60px;
        height: 200px;
        background-color: rgb(230, 160, 8);
        margin-left: 66%;   
        margin-top: -7.2%;  
    }

    .CQ1{
        width: 30px;
        height: 90px;
        background-color: rgb(230, 160, 8);
        margin-left: 63%;   
        margin-top: -6.5%;  
    }

    .CR1{
        width: 30px;
        height: 90px;
        background-color: rgb(230, 160, 8);
        margin-left: 64%;   
        margin-top: -2%;  
    }

    .CS1{
        width: 30px;
        height: 90px;
        background-color: rgb(230, 160, 8);
        margin-left: 65%;   
        margin-top: -2%;  
    }
    /*LOP*/

    .LOP{
        background-color: transparent; 
    }
/*L*/
    .CT1{
        width: 60px;
        height: 210px;
        background-color: rgb(230, 160, 8);
        margin-left: 107%;   
        margin-top: -73%;  
        
    }

    .CU1{
        width: 160px;
        height: 50px;
        background-color: rgb(230, 160, 8);
        margin-left: 107%;   
        margin-top: -2%;  
        
    }

    /*O*/

  .CV1{
    width: 60px;
        height: 160px;
        background-color: rgb(230, 160, 8);
        margin-left: 102%;   
        margin-top: 10%;
  }

  .CW1{
    width: 60px;
        height: 160px;
        background-color: rgb(230, 160, 8);
        margin-left: 117%;   
        margin-top: -14%;
  }

  .CX1{
    width: 90px;
        height: 40px;
        background-color: rgb(230, 160, 8);
        margin-left: 108%;   
        margin-top: -19%;
  }
  .CY1{
    width: 90px;
        height: 40px;
        background-color: rgb(230, 160, 8);
        margin-left: 108%;   
        margin-top: 16%;
  }

  .CZ1{
    width: 30px;
        height: 40px;
        background-color: rgb(230, 160, 8);
        margin-left: 115%;   
        margin-top: -20%;
  }

  .DA1{
    width: 30px;
        height: 40px;
        background-color: rgb(230, 160, 8);
        margin-left: 115%;   
        margin-top: 10%;
  }

  .DB1{
    width: 30px;
        height: 40px;
        background-color: rgb(230, 160, 8);
        margin-left: 106.5%;   
        margin-top: -17%;
  }

  .DC1{
    width: 30px;
        height: 40px;
        background-color: rgb(230, 160, 8);
        margin-left: 106.5%;   
        margin-top: 10%;
  }

  /*P*/

  .DD1{
    width: 60px;
        height: 250px;
        background-color: rgb(230, 160, 8);
        margin-left: 106.5%;   
        margin-top: 5%;
  }

  .DE1{
    width: 110px;
        height: 40px;
        background-color: rgb(230, 160, 8);
        margin-left: 110%;   
        margin-top: -22.3%;
  }

  .DF1{
    width: 110px;
        height: 40px;
        background-color: rgb(230, 160, 8);
        margin-left: 110%;   
        margin-top: 7%;
  }

  .DG1{
    width: 40px;
        height: 110px;
        background-color: rgb(230, 160, 8);
        margin-left: 119%;   
        margin-top: -12%;
  }

  /*CHIN*/

  .DH1{
    width: 10px;
    height: 30px;
    background-color: rgb(43, 64, 226);
    margin-left: 43.4%;   
    margin-top: -1%;  
}

.DI1{
    width: 10px;
    height: 30px;
    background-color: rgb(43, 64, 226);
    margin-left: 84.2%;   
    margin-top: -2.5%;  
}

.DJ1{
    width: 20px;
    height: 30px;
    background-color: rgb(43, 64, 226);
    margin-left: 82.5%;   
    margin-top: -0.5%;  
}
.DK1{
    width: 20px;
    height: 30px;
    background-color: rgb(43, 64, 226);
    margin-left: 44.3%;   
    margin-top: -2.5%;  
}

.DL1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 44.3%;   
    margin-top: 0%;  
}

.DM1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 80.7%;   
    margin-top: -1.2%;  
}
.DN1{
    width: 10px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 80.7%;   
    margin-top: -0.8%;  
}

.DO1{
    width: 10px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 47%;   
    margin-top: -0.8%;  
}

.DP1{
    width: 40px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 45%;   
    margin-top: -0.8%;  
}

.DQ1{
    width: 40px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 80%;   
    margin-top: -2%;  
}

.DR1{
    width: 10px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 79.1%;   
    margin-top: -0.5%;  
}

.DS1{
    width: 10px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 48.4%;   
    margin-top: -1.5%;  
}

.DT1{
    width: 10px;
    height: 70px;
    background-color: rgb(43, 64, 226);
    margin-left: 49.2%;   
    margin-top: -1%;  
}

.DU1{
    width: 10px;
    height: 70px;
    background-color: rgb(43, 64, 226);
    margin-left: 78.2%;   
    margin-top: -6%;  
}
.DV1{
    width: 20px;
    height: 70px;
    background-color: rgb(43, 64, 226);
    margin-left: 76.4%;   
    margin-top: -5%;  
}

.DW1{
    width: 20px;
    height: 80px;
    background-color: rgb(43, 64, 226);
    margin-left: 50%;   
    margin-top: -7%;  
}
.DX1{
    width: 20px;
    height: 80px;
    background-color: rgb(43, 64, 226);
    margin-left: 51.5%;   
    margin-top: -6%;  
}
.DY1{
    width: 20px;
    height: 80px;
    background-color: rgb(43, 64, 226);
    margin-left: 75%;   
    margin-top: -7%;  
}

.DZ1{
    width: 10px;
    height: 160px;
    background-color: rgb(43, 64, 226);
    margin-left: 74.1%;   
    margin-top: -12%;  
}

.EA1{
    width: 10px;
    height: 160px;
    background-color: rgb(43, 64, 226);
    margin-left: 53.3%;   
    margin-top: -14.5%;  
}

.EB1{
    width: 50px;
    height: 90px;
    background-color: rgb(43, 64, 226);
    margin-left: 54%;   
    margin-top: -7%;  
}
.EC1{
    width: 50px;
    height: 90px;
    background-color: rgb(43, 64, 226);
    margin-left: 70%;   
    margin-top: -8%;  
}

.ED1{
    width: 150px;
    height: 30px;
    background-color: rgb(43, 64, 226);
    margin-left: 58%;   
    margin-top: -7.5%;  
}

/*INNER SHIRT (UNDER CHIN)*/
.EE1{
    width: 20px;
    height: 140px;
    background-color: rgb(43, 64, 226);
    margin-left: 58%;   
    margin-top: -2%;  
}

.EF1{
    width: 20px;
    height: 140px;
    background-color: rgb(43, 64, 226);
    margin-left: 68.2%;   
    margin-top: -12.5%;  
}

.EG1{
    width: 80px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 60.5%;   
    margin-top: -11%;  
}

.EH1{
    width: 100px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 59.5%;   
    margin-top: 0%;  
}

.EI1{
    width: 70px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 61%;   
    margin-top: 0%;  
}

.EJ1{
    width: 80px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 60.5%;   
    margin-top: 0%;  
}

.EK1{
    width: 110px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 59%;   
    margin-top: 0%;  
}

.EL1{
    width: 10px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 59.8%;   
    margin-top: 0%;  
}

.EM1{
    width: 40px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 62.5%;   
    margin-top: -2%;  
}

.EN1{
    width: 10px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 67.3%;   
    margin-top: -2%;  
}

.EO1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 55%;   
    margin-top: -2.3%;  
}

.EP1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 70%;   
    margin-top: -0.9%;  
}

.EQ1{
    width: 30px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 70%;   
    margin-top: 0%;  
}

.ER1{
    width: 30px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 56%;   
    margin-top: -1.8%;  
}
.ES1{
    width: 10px;
    height: 30px;
    background-color: rgb(43, 64, 226);
    margin-left: 57.2%;   
    margin-top: 0%;  
}
.ET1{
    width: 10px;
    height: 30px;
    background-color: rgb(43, 64, 226);
    margin-left: 70%;   
    margin-top: -2.7%;  
}

.EU1{
    width: 60px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 61.5%;   
    margin-top: -2.8%;  
}

.EV1{
    width: 80px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 60.5%;   
    margin-top: 0%;  
}

.EW1{
    width: 130px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 58.5%;   
    margin-top: 0%;  
}

.EX1{
    width: 110px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 59.5%;   
    margin-top: 0%;  
}

.EY1{
    width: 90px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 60.5%;   
    margin-top: 0%;  
}

.EZ1{
    width: 50px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 62.5%;   
    margin-top: 0%;  
}

/*SHOULDERS*/

.FA1{
    width: 30px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 42%;   
    margin-top: -28.7%;  
}

.FB1{
    width: 30px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 83%;   
    margin-top: -1.15%;  
}
.FC1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 85%;   
    margin-top: 0%;  
}
.FD1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 40%;   
    margin-top: -0.7%;  
}

.FE1{
    width: 50px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 38%;   
    margin-top: 0%;  
}

.FF1{
    width: 50px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 86%;   
    margin-top: -1.2%;  
}

.FG1{
    width: 50px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 88%;   
    margin-top: 0%;  
}

.FH1{
    width: 50px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 36%;   
    margin-top: -0.6%;  
}

.FI1{
    width: 50px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 34%;   
    margin-top: 0%;  
}

.FJ1{
    width: 50px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 90%;   
    margin-top: -2.1%;  
}

.FK1{
    width: 50px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 93%;   
    margin-top: 0%;  
}

.FL1{
    width: 50px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 31%;   
    margin-top: -1.5%;  
}

.FM1{
    width: 50px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 28%;   
    margin-top: 0%;  
}

.FN1{
    width: 50px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 96%;   
    margin-top: -1.2%;  
}

.FO1{
    width: 50px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 98%;   
    margin-top: 0%;  
}

.FP1{
    width: 50px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 26%;   
    margin-top: -0.6%;  
}

.FQ1{
    width: 60px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 100%;   
    margin-top: -0.5%;  
}

.FR1{
    width: 60px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 23%;   
    margin-top: -0.5%;  
}

.FS1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 21%;   
    margin-top: 0%;  
}

.FT1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 104%;   
    margin-top: -1.3%;  
}

.FU1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 106%;   
    margin-top: 0%;  
}

.FV1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 108%;   
    margin-top: 0%;  
}

.FW1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 19%;   
    margin-top: -1.5%;  
}

.FX1{
    width: 20px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 18%;   
    margin-top: 0%;  
}

.FY1{
    width: 20px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 111%;   
    margin-top: -1.2%;  
}

/*zip*/
.FZ1{
    width: 320px;
    height: 80px;
    background-color: rgb(43, 64, 226);
    margin-left: 50%;   
    margin-top: 14%;  
}

/*shoulders p2*/
.GA1{
    width: 80px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 40%;   
    margin-top: -32.5%;  
}

.GB1{
    width: 80px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 83%;   
    margin-top: -2%;  
}

.GC1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 85%;   
    margin-top: 0%;  
}

.GD1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 40%;   
    margin-top: -1%;  
}

.GE1{
    width: 10px;
    height: 100px;
    background-color: rgb(43, 64, 226);
    margin-left: 45%;   
    margin-top: -1%;  
}

.GF1{
    width: 10px;
    height: 100px;
    background-color: rgb(43, 64, 226);
    margin-left: 83%;   
    margin-top: -9%;  
}

.GG1{
    width: 30px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 85.9%;   
    margin-top: -8%;  
}

.GH1{
    width: 30px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 40%;   
    margin-top: -1%;  
}

.GI1{
    width: 30px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 39%;   
    margin-top: 0%;  
}

.GJ1{
    width: 30px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 87.5%;   
    margin-top: -0.8%;  
}

.GK1{
    width: 10px;
    height: 50px;
    background-color: rgb(43, 64, 226);
    margin-left: 89.2%;   
    margin-top: 0%;  
}
.GL1{
    width: 10px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 90%;   
    margin-top: -1.8%;  
}

.GM1{
    width: 10px;
    height: 50px;
    background-color: rgb(43, 64, 226);
    margin-left: 39%;   
    margin-top: -5%;  
}
.GN1{
    width: 10px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 38.1%;   
    margin-top: -1.8%;  
}

.GO1{
    width: 80px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 31%;   
    margin-top: 0%;  
}

.GP1{
    width: 80px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 90.9%;   
    margin-top: -0.5%;  
}

.GQ1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 97%;   
    margin-top: 0%;  
}

.GR1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 28%;   
    margin-top: -1.4%;  
}

/*3RD LINE SHOULDER DETAIL*/
.GS1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 42.3%;   
    margin-top: 0%;  
}

.GT1{
    width: 10px;
    height: 190px;
    background-color: rgb(43, 64, 226);
    margin-left: 42.3%;   
    margin-top: 0%;  
}

.GU1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 83%;   
    margin-top: -18%;  
}

.GV1{
    width: 10px;
    height: 190px;
    background-color: rgb(43, 64, 226);
    margin-left: 85.65%;   
    margin-top: 0%;  
}

/*MIDDLE ZIP*/

.GW1{
    width: 10px;
    height: 120px;
    background-color: rgb(43, 64, 226);
    margin-left: 62%;   
    margin-top: 5%;  
}

.GX1{
    width: 10px;
    height: 120px;
    background-color: rgb(43, 64, 226);
    margin-left: 66%;   
    margin-top: -10.7%;  
}

.GY1{
    width: 10px;
    height: 90px;
    background-color: rgb(43, 64, 226);
    margin-left: 66.8%;   
    margin-top: -4%;  
}

.GZ1{
    width: 10px;
    height: 90px;
    background-color: rgb(43, 64, 226);
    margin-left: 61.1%;   
    margin-top: -8%;  
}

/*HAIR DETAIL*/
.HA1{
    width: 40px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 39%;   
    margin-top: -119%;    
}

.HB1{
    width: 10px;
    height: 30px;
    background-color: rgb(43, 64, 226);
    margin-left: 38.2%;   
    margin-top: -5%;    
}
.HC1{
    width: 10px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 38.2%;   
    margin-top: -5%;    
}

.HD1{
    width: 10px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 45%;   
    margin-top: -1.5%;    
}

.HE1{
    width: 10px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 85.5%;   
    margin-top: 4%;    
}

.HF1{
    width: 30px;
    height: 30px;
    background-color: rgb(43, 64, 226);
    margin-left: 86%;   
    margin-top: 3%;    
}
.HG1{
    width: 20px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 86%;   
    margin-top: -4.4%;    
}

.HH1{
    width: 490px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 43%;   
    margin-top: 9.5%;    
}

.HI1{
    width: 60px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 35%;   
    margin-top: -10.5%;    
}

.HJ1{
    width: 10px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 33.5%;   
    margin-top: 0%;    
}

.HK1{
    width: 10px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 34.9%;   
    margin-top: 20%;    
}

.HL1{
    width: 300px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 48%;   
    margin-top: -13.1%;    
}

.HM1{
    width: 20px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 78%;   
    margin-top: -2%;    
}

.HN1{
    width: 10px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 78%;   
    margin-top: 0%;    
}

.HO1{
    width: 20px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 81%;   
    margin-top: -7%;    
}

.HP1{
    width: 20px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 79.5%;   
    margin-top: -3%;    
}

.HQ1{
    width: 40px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 71%;   
    margin-top: -0.5%;    
}

.HR1{
    width: 20px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 71%;   
    margin-top: 0%;    
}

.HS1{
    width: 10px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 71%;   
    margin-top: 0%;    
}

.HT1{
    width: 220px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 50%;   
    margin-top: -5%;    
}

.HT1{
    width: 220px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 50%;   
    margin-top: -5%;    
}

.HU1{
    width: 100px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 52%;   
    margin-top: -1%;    
}

.HV1{
    width: 20px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 55%;   
    margin-top: 0%;    
}

.HW1{
    width: 80px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 55%;   
    margin-top: -2%;    
}

.HX1{
    width: 60px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 60%;   
    margin-top: 0%;    
}
.HY1{
    width: 20px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 62%;   
    margin-top: 0%;    
}



/*WIN*/
.HZ1{
    width: 20px;
    height: 30px;
    background-color: rgb(247, 127, 7);
    margin-left: 4%;   
    margin-top: 71%;    
}

.IA1{
    width: 40px;
    height: 20px;
    background-color: rgb(247, 127, 7);
    margin-left: 5.7%;   
    margin-top: -2.7%;    
}
.IB1{
    width: 20px;
    height: 40px;
    background-color: rgb(247, 127, 7);
    margin-left: 7.5%;   
    margin-top: 0%;    
}
.IC1{
    width: 40px;
    height: 20px;
    background-color: rgb(247, 127, 7);
    margin-left: 4%;   
    margin-top: -1.8%;    
}
.ID1{
    width: 20px;
    height: 40px;
    background-color: rgb(247, 127, 7);
    margin-left: 4%;   
    margin-top: 0%;    
}
.IE1{
    width: 60px;
    height: 20px;
    background-color: rgb(247, 127, 7);
    margin-left: 4%;   
    margin-top: -1.5%;    
}
.IF1{
    width: 60px;
    height: 20px;
    background-color: rgb(247, 127, 7);
    margin-left: 12%;   
    margin-top: -1.8%;    
}
.IG1{
    width: 60px;
    height: 20px;
    background-color: rgb(247, 127, 7);
    margin-left: 12%;   
    margin-top: -9.2%;    
}
.IH1{
    width: 20px;
    height: 70px;
    background-color: rgb(247, 127, 7);
    margin-left: 12%;   
    margin-top: 0%;    
}
.II1{
    width: 20px;
    height: 70px;
    background-color: rgb(247, 127, 7);
    margin-left: 15.6%;   
    margin-top: -6.8%;    
}
.IJ1{
    width: 50px;
    height: 20px;
    background-color: rgb(247, 127, 7);
    margin-left: 12%;   
    margin-top: -3.5%;    
}
.IK1{
    width: 50px;
    height: 20px;
    background-color: rgb(247, 127, 7);
    margin-left: 19.5%;   
    margin-top: -3%;    
}
.IL1{
    width: 20px;
    height: 100px;
    background-color: rgb(247, 127, 7);
    margin-left: 20.8%;   
    margin-top: -4.5%;    
}
.IM1{
    width: 20px;
    height: 100px;
    background-color: rgb(247, 127, 7);
    margin-left: 24.5%;   
    margin-top: -9%;    
}
.IN1{
    width: 60px;
    height: 20px;
    background-color: rgb(247, 127, 7);
    margin-left: 24.5%;   
    margin-top: -4%;    
}
.IO1{
    width: 20px;
    height: 30px;
    background-color: rgb(247, 127, 7);
    margin-left: 28.1%;   
    margin-top: -0.3%;    
}

/*WIN */
.IP1{
    width: 20px;
    height: 100px;
    background-color: rgb(247, 127, 7);
    margin-left: 4%;   
    margin-top: 3%;    
}

.IQ1{
    width: 20px;
    height: 80px;
    background-color: rgb(247, 127, 7);
    margin-left: 7%;   
    margin-top: -8%;    
}

.IR1{
    width: 20px;
    height: 100px;
    background-color: rgb(247, 127, 7);
    margin-left: 10%;   
    margin-top: -8%;    
}
.IS1{
    width: 20px;
    height: 40px;
    background-color: rgb(247, 127, 7);
    margin-left: 5.5%;   
    margin-top: -4%;    
}
.IT1{
    width: 20px;
    height: 40px;
    background-color: rgb(247, 127, 7);
    margin-left: 8.2%;   
    margin-top: -3.5%;    
}
.IU1{
    width: 20px;
    height: 100px;
    background-color: rgb(247, 127, 7);
    margin-left: 14%;   
    margin-top: -8.6%;    
}
.IV1{
    width: 20px;
    height: 100px;
    background-color: rgb(247, 127, 7);
    margin-left: 18%;   
    margin-top: -8.9%;    
}
.IW1{
    width: 20px;
    height: 100px;
    background-color: rgb(247, 127, 7);
    margin-left: 22%;   
    margin-top: -8.9%;    
}
.IX1{
    width: 40px;
    height: 20px;
    background-color: rgb(247, 127, 7);
    margin-left: 19%;   
    margin-top: -8.95%;    
}
.IY1{
    width: 20px;
    height: 20px;
    background-color: rgb(247, 127, 7);
    margin-left: 25%;   
    margin-top: 5.5%;    
}

.HISTORY{
    color: rgb(254, 46, 23);
    text-shadow: -1px 1px 0 rgb(220, 73, 20);
  font-size: 25px;
  text-align: justify;
  margin-left: 21%;
  margin-right: 5%;
  margin-bottom: 5px;
  margin-top: 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.HISTORY2{
    color: rgb(254, 46, 23);
    text-shadow: -1px 1px 0 rgb(220, 73, 20);
  font-size: 25px;
  text-align: left;
  margin-left: 64%;
  margin-right: 5%;
  margin-bottom: 5px;
  margin-top: 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.HIS1{
    margin-top: -48%;
}