.art1{
    width: 50%;
    padding-left: 45%;
    margin-top: -25%;
    background-color: transparent;
}

.art2{
    width: 50%;
}

.art3{
    width: 50%;
}

.art4{
    width: 50%;
}

.art5{
    width: 50%;
}

/*art work here*/

.pixel{
    width: 98%;
    height: 98%;
    opacity: 30%;
    
}

.A{
margin-top: -96%;
margin-right: 24%;
}

.A1{
    width: 10px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 70%;
}


.B1{
    width: 30px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 69.5%;   
    margin-top: -1.5%; 
}

.C1{
    width: 40px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 68.8%;   
    margin-top: -0.2%;  
}

.D1{
    width: 280px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 52.5%;   
    margin-top: -0.2%;  
}


.E1{
    width: 380px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 49.2%;   
    margin-top: -0.2%; 
}

.F1{
    width: 480px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 45%;   
    margin-top: -0.2%; 
}

.G1{
    width: 480px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 45%;   
    margin-top: -0.2%;
}


.H1{
    width: 40px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 78%;
    margin-top: -4%;
}

.I1{  
    width: 20px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 80%;
    margin-top: -4%;
}

.J1{  
    width: 10px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 80%;
    margin-top: -4.8%;
}

.K1{
    width: 460px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 43%;   
    margin-top: 6%;
}

.L1{
    width: 520px;
    height: 50px;
    background-color: rgb(43, 64, 226);
    margin-left: 40%;   
    margin-top: 0%;
}

.M1{
    width: 620px;
    height: 50px;
    background-color: rgb(43, 64, 226);
    margin-left: 36%;   
    margin-top: 31;
}

.N1{
    width: 650px;
    height: 60px;
    background-color: rgb(43, 64, 226);
    margin-left: 35%;   
    margin-top: -2%;
}

.U1{

    width: 670px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 34%;   
    margin-top: -25%; 
}

/*SIDEBURNS left*/

.V1{
    width: 90px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 35%;   
    margin-top: -1%; 
}
.W1{
    width: 70px;
    height: 120px;
    background-color: rgb(43, 64, 226);
    margin-left: 35%;   
    margin-top: -1%;  
}

.X1{
    width: 70px;
    height: 90px;
    background-color: rgb(43, 64, 226);
    margin-left: 36%;   
    margin-top: -1%;    
}

.Y1{
    width: 10px;
    height: 190px;
    background-color: rgb(43, 64, 226);
    margin-left: 36%;   
    margin-top: -1%;     
}
.Z1{
    width: 70px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 36%;   
    margin-top: -16%; 
}


/*SIDEBURNS right*/
.AA1{
    width: 90px;
    height: 50px;
    background-color: rgb(43, 64, 226);
    margin-left: 86%;   
    margin-top: -22%;  
}

.AB1{
    width: 70px;
    height: 120px;
    background-color: rgb(43, 64, 226);
    margin-left: 87.7%;   
    margin-top: -1%;  
}

.AC1{
    width: 70px;
    height: 90px;
    background-color: rgb(43, 64, 226);
    margin-left: 86%;   
    margin-top: -1%;  
}

.AD1{
    width: 10px;
    height: 170px;
    background-color: rgb(43, 64, 226);
    margin-left: 91.4%;   
    
}

.AE1{
    width: 70px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 86%;   
    margin-top: -16%;   
}

/*ear right*/
.AF1{
    width: 20px;
    height: 220px;
    background-color: rgb(43, 64, 226);
    margin-left: 86%;   
    margin-top: -6%;  
}

.AH1{
    width: 30px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 88%;   
    margin-top: -0.5%;  
}

.AK1{
    width: 20px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 90%;   
    margin-top: -3%;  
}

/*ear left*/
.AG1{
    width: 20px;
    height: 200px;
    background-color: rgb(43, 64, 226);
    margin-left: 40.4%;   
    margin-top: -15%;  
}

.AI1{
    width: 30px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 38%;   
    margin-top: -2%;  
}

.AJ1{
    width: 20px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 37%;   
    margin-top: -5%;  
}
/*eyebrows (left)*/
.O1{
    width: 110px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 50%;   
    margin-top: 19%;   
}

.P1{
    width: 160px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 46.2%;   
    margin-top: 0%;   
}

.Q1{
    width: 140px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 47.95%;   
    margin-top: 0%;   
}

/*eyebrow right*/

.R1{
    width: 110px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 68.5%;   
    margin-top: -2.5%;  
}

.S1{
    width: 160px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 67%;   
    margin-top: 0%;
}

.T1{
    width: 140px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 67%;   
    margin-top: 0%; 
}

/*eye left*/

.AL1{
    width: 60px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 52%;   
    margin-top: -17%;
}

.AM1{
    width: 50px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 50%;   
    margin-top: 0%;
}

.AN1{
    width: 40px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 56%;   
    margin-top: -1%;
}

.AO1{
    width: 70px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 48.2%;   
    margin-top: -1%;
}

.AP1{
    width: 20px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 46.5%;   
    margin-top: -0.2%;
}

.AV1{
    width: 40px;
    height: 50px;
    background-color: rgb(43, 64, 226);
    margin-left: 53%;   
    margin-top: -4%;
}

/*eye right*/
.AQ1{
    width: 60px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 71%;   
    margin-top: -3%;
}

.AR1{
    width: 50px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 74%;   
    margin-top: 0%;
}

.AS1{
    width: 40px;
    height: 20px;
    background-color: rgb(43, 64, 226);
    margin-left: 69%;   
    margin-top: -2%;
}

.AT1{
    width: 70px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 74%;   
    margin-top: -0.5%;
}

.AU1{
    width: 20px;
    height: 10px;
    background-color: rgb(43, 64, 226);
    margin-left: 80.2%;   
    margin-top: -0.2%;
}

.AW1{
    width: 40px;
    height: 50px;
    background-color: rgb(43, 64, 226);
    margin-left: 72%;   
    margin-top: -4%;  
}

/*NOSE*/
.AX1{
    width: 10px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 61%;   
    margin-top: 3%;    
}

.AY1{
    width: 10px;
    height: 40px;
    background-color: rgb(43, 64, 226);
    margin-left: 67%;   
    margin-top: -3.5%;    
}


.AZ1{
   
        width: 20px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 60%;   
        margin-top: -1%;    
    }

    .BA1{
        width: 20px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 67%;   
        margin-top: -0.8%;  
    }

    .BB1{
        width: 10px;
        height: 50px;
        background-color: rgb(43, 64, 226);
        margin-left: 60%;   
        margin-top: -1%;  
    }

    .BC1{
        width: 10px;
        height: 50px;
        background-color: rgb(43, 64, 226);
        margin-left: 68%;   
        margin-top: -4.4%;  
    }

    .BD1{
        width: 30px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 68%;   
        margin-top: -0.8%;  
    }

    .BE1{
        width: 30px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 58.2%;   
        margin-top: -0.8%;  
    }

    .BF1{
        width: 10px;
        height: 30px;
        background-color: rgb(43, 64, 226);
        margin-left: 69.8%;   
        margin-top: -0.2%;  
    }

    .BG1{
        width: 10px;
        height: 30px;
        background-color: rgb(43, 64, 226);
        margin-left: 58.2%;   
        margin-top: -2.8%;  
    }

    .BH1{
        width: 40px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 58.2%;   
        margin-top: 0%;  
    }

    .BI1{
        width: 40px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 67.1%;   
        margin-top: -1%;  
    }

    .BJ1{
        width: 90px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 60.5%;   
        margin-top: 0%;  
    }

    .BK1{
        width: 50px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 62%;   
        margin-top: 0%;  
    }

    /*CHEEK*/

    .BL1{
        width: 10px;
        height: 40px;
        background-color: rgb(43, 64, 226);
        margin-left: 41%;   
        margin-top: -2%;  
    }

    .BM1{
        width: 10px;
        height: 40px;
        background-color: rgb(43, 64, 226);
        margin-left: 87%;   
        margin-top: -3.5%;  
    }

    .BN1{
        width: 10px;
        height: 60px;
        background-color: rgb(43, 64, 226);
        margin-left: 86%;   
        margin-top: 0%;  
    }

    .BO1{
        width: 10px;
        height: 60px;
        background-color: rgb(43, 64, 226);
        margin-left: 41.8%;   
        margin-top: -5.5%;  
    }

    .BP1{
        width: 10px;
        height: 30px;
        background-color: rgb(43, 64, 226);
        margin-left: 42.7%;   
        margin-top: 0%;  
    }

    .BQ1{
        width: 10px;
        height: 30px;
        background-color: rgb(43, 64, 226);
        margin-left: 85.1%;   
        margin-top: -2.6%;  
    }

  /*LIPS*/

.BR1{
        width: 20px;
        height: 20px;
        background-color: rgb(43, 64, 226);
        margin-left: 63.6%;   
        margin-top: -4%;  
    }

    .BS1{
        width: 60px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 62%;   
        margin-top: -2.5%;  
    }

    .BT1{
        width: 40px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 59%;   
        margin-top: -1.8%;  
    }

    .BU1{
        width: 40px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 67%;   
        margin-top: -0.8%;  
    }

    .BV1{
        width: 30px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 69%;   
        margin-top: -0.1%;  
    }

    .BW1{
        width: 30px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 57.5%;   
        margin-top: -1%;  
    }

    .BX1{
        width: 20px;
        height: 20px;
        background-color: rgb(43, 64, 226);
        margin-left: 56.5%;   
        margin-top: 0%;  
    }

    .BY1{
        width: 20px;
        height: 20px;
        background-color: rgb(43, 64, 226);
        margin-left: 71%;   
        margin-top: -1.7%;  
    }

    .BZ1{
        width: 30px;
        height: 20px;
        background-color: rgb(43, 64, 226);
        margin-left: 55%;   
        margin-top: -0.2%;  
    }

    .CA1{
        width: 30px;
        height: 20px;
        background-color: rgb(43, 64, 226);
        margin-left: 71%;   
        margin-top: -1.6%;  
    }

    .CB1{
        width: 110px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 59.5%;   
        margin-top: 0%;  
    }

    .CC1{
        width: 80px;
        height: 10px;
        background-color: rgb(43, 64, 226);
        margin-left: 61%;   
        margin-top: 0%;  
    }

    /*DUN*/

    .DUN{
        margin-left: -146%;   
        margin-top: -66%;  
        background-color: transparent;
    }

    /*D*/
    .CD1{
        width: 60px;
        height: 280px;
        background-color: rgb(230, 160, 8);
        margin-left: 61%;   
        margin-top: 0%;  
    }

    .CE1{
        width: 60px;
        height: 40px;
        background-color: rgb(230, 160, 8);
        margin-left: 63%;   
        margin-top: -10.17%;  
    }

    .CF1{
        width: 60px;
        height: 40px;
        background-color: rgb(230, 160, 8);
        margin-left: 63%;   
        margin-top: 7.25%;  
    }

    .CG1{
        width: 60px;
        height: 120px;
        background-color: rgb(230, 160, 8);
        margin-left: 66%;   
        margin-top: -7%;  
    }

    .CH1{
        width: 60px;
        height: 80px;
        background-color: rgb(230, 160, 8);
        margin-left: 65%;   
        margin-top: -7%;  
    }

    .CI1{
        width: 60px;
        height: 80px;
        background-color: rgb(230, 160, 8);
        margin-left: 65%;   
        margin-top: 3%;  
    }

    /*U*/
    .CJ1{
        width: 60px;
        height: 180px;
        background-color: rgb(230, 160, 8);
        margin-left: 61%;   
        margin-top: 4%;  
    }

    .CK1{
        width: 60px;
        height: 180px;
        background-color: rgb(230, 160, 8);
        margin-left: 65.5%;   
        margin-top: -6.5%;  
    }

    .CL1{
        width: 100px;
        height: 40px;
        background-color: rgb(230, 160, 8);
        margin-left: 62.5%;   
        margin-top: 0.5%;  
    }

    .CM1{
        width: 40px;
        height: 40px;
        background-color: rgb(230, 160, 8);
        margin-left: 62%;   
        margin-top: -2%;  
    }

    .CN1{
        width: 40px;
        height: 40px;
        background-color: rgb(230, 160, 8);
        margin-left: 65%;   
        margin-top: -1.5%;  
    }

    /*N*/
    .CO1{
        width: 60px;
        height: 200px;
        background-color: rgb(230, 160, 8);
        margin-left: 61%;   
        margin-top: 2%;  
    }

    .CP1{
        width: 60px;
        height: 200px;
        background-color: rgb(230, 160, 8);
        margin-left: 66%;   
        margin-top: -7.2%;  
    }

    .CQ1{
        width: 30px;
        height: 90px;
        background-color: rgb(230, 160, 8);
        margin-left: 63%;   
        margin-top: -6.5%;  
    }

    .CR1{
        width: 30px;
        height: 90px;
        background-color: rgb(230, 160, 8);
        margin-left: 64%;   
        margin-top: -2%;  
    }

    .CS1{
        width: 30px;
        height: 90px;
        background-color: rgb(230, 160, 8);
        margin-left: 65%;   
        margin-top: -2%;  
    }