/*Introduction*/

.essay{
    
    width: 1250px;
    margin-top: -255%;
    padding-top: 10px;
}

.INTRO{
    color: rgb(252, 192, 42);
    text-align: left;
    margin: 30px;
    padding-top: -70px;
    padding-left: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: inherit;
}

.INTROT{
    color: rgb(252, 178, 42);
    font-size: 18px;
    text-align: left;
    margin-left: 8%;
    margin-right: 35%;
    margin-bottom: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: inherit;
}

/*image*/

.pic{
opacity: 15%;
height: 60%;
padding-left: 45%;
}

.pics{
    width: 50%;
    padding-top: 8px;
    padding-left: 8%;
}
/*sources consulted*/

.sources{
padding-bottom: 5%;
}

.SC{
    text-align: center;
    margin: 30px;
    padding-top: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(196, 66, 6);
}

.SCT{
    text-align: left;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(196, 66, 6);
}

