.map{
    width: 1300px;
    height: 800px;
    margin-top: 10px;
margin-left: 90px;
padding-bottom: 10px;
}

/*FORMAT FOR IMAGES ALIGNED LEFT*/

.left{
width: 700px;
height: 370px;
margin-top: 17px;
margin-left: 5%;
padding-bottom: 7px;
background-color: inherit;
}

.FAV{
background-color: rgb(32, 32, 32);
height: 410px;
width: 1470px;
}

.Sub1  {
    color: rgb(252, 178, 42);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:left;
    margin-top: -17%;
    margin-left: 60%;
    background-color: inherit;
}

.text1{
    color: rgb(252, 178, 42);
  font-size: 18px;
  text-align: left;
margin-top: 15px;
  margin-left: 60%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 background-color: inherit;
}

/*FORMAT FOR IMAGES ALIGNED RIGHT*/

.right{
    width: 700px;
    height: 370px;
    margin-top: 17px;
    padding-left: 50%;
    padding-bottom: 10px;
    }

.FAV2{
    background-color: rgb(21, 21, 21);
    height: 410px;
    width: 1470px;
    }
    
    .Sub2  {
        color: rgb(252, 126, 42);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align:right;
        margin-top: -20%;
        margin-right: 63%;
        background-color: inherit;
    }
    
    .text2{
        color: rgb(252, 126, 42);
      font-size: 18px;
      text-align: left;
    margin-top: 15px;
      margin-left: 21%;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background-color: inherit;
    }

/*image reference*/
.last{
    color: rgb(240, 71, 10);
  font-size: 18px;
  text-align: justify;
  margin-left: 45%;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}